
/*Reset*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select{
	margin: 0;
	padding: 0;
}
body{
	background: #fff;
	font-size: 12px;
	font-family: "微软雅黑";
}
table{
	border-collapse: collapse;
}
ul{
	list-style-type: none;
}
input,textarea{
	outline: none;
}
textarea{
	resize:none;
	overflow: auto;
}

img{
	border: none;
	vertical-align: top;
}
em{
	font-style: normal;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
/*public*/
.fl{float: left;}
.fr{float: right;}

.gradient{
		width: 800px;
		height: 800px;
		background: -webkit-linear-gradient(top,#fff,#f8f8f8);
		background: -moz-linear-gradient(top,#fff,#f8f8f8);
		background: -ms-linear-gradient(top,#fff,#f8f8f8);
		background: linear-gradient(top,#fff,#f8f8f8);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
		background: #f8f8f8;
}
		
/*Layout*/
#header, #nav, .content{width: 960px; margin: 0 auto;}
#search, .section, .sider_section, #footer{border: 1px solid #dbdbdb; border-radius: 6px;}
.section, .main_ad, .sider_section, .sider_ad{margin-bottom: 10px;}
body{margin-bottom: 30px; }
#header{ height: 30px;  border-radius: 0 0 6px 6px;}
#nav{height: 100px; }
#search{width: 958px; height: 114px; margin: 0 auto 10px;  }
.content{}
.main{width: 710px;}
.section{width: 318px; height: 200px; /* 333 */ padding: 0 15px;}
.options{width: 350px; height: 200px; /* 333 */ }
.main_ad{margin-bottom: 10px; border-radius: 6px; overflow: hidden; display: block !important;}
.sider{width: 240px;}
.sider_section{height: 60px; padding: 0 10px;}
.sider_ad{border: 1px solid #dbdbdb; border-radius: 6px; overflow: hidden; }
#footer{width: 958px; height: 78px; margin: 0 auto; background: #F9F9F9; }


.options .nav{height: 34px; position: relative;}
.options .nav li{width: 172px; height: 33px; border: 1px solid #dbdbdb; border-bottom: none; border-radius: 6px 6px 0 0;}
.options .nav .active{width: 172px;height: 34px;background: #fff;}
.options .con{width: 348px;height: 80px;/* 333 */border: 1px solid #dbdbdb; border-radius: 0 0 6px 6px;}


#header .city{padding-left: 20px; line-height: 30px;}
#header .city a{height: 18px; line-height: 18px; display: inline-block; padding: 0 7px; border: 1px solid #e5e5e5; border-radius: 4px; box-shadow: 1px 1px 0 #ededed; background: #fff; color: #999999;}
#header .city .active{color: #d60d03;}
#header .city .active:hover{background: #fff;;}
#header .city a:hover{background: #f1f1f1;}
#header .link{padding-right: 20px;line-height: 30px; color: #d5d5d5;}
#header .link a{height: 18px; padding-left: 20px; line-height: 18px; color: #666666;background: url(../img/header_link_bg.gif) 0 3px no-repeat;}
#header .link a:hover{text-decoration: underline;}
#header .link span{padding-left: 6px;}
#header .link .ico1{background-position: 0 3px;}
#header .link .ico2{background-position: 0 -27px;}